/* Common styles for both tablet and laptop */
.hero_content {
  position: absolute;
  bottom: 30%;
  left: 30%;
  text-align: center;
  color: white;
}

.description {
  margin: 1em 0;
}
.hero_title {
  text-align: center;

  overflow: hidden;
  color: white;
}
.hero_inner{
  padding: 25px 25px 25px;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  padding: 11px 15px 15px 15px;
  background-color: rgba(0,0,0,.45);
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  border-radius:  5px;
  webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.main {
  background-image: url(../Images/main.webp);
  height: 400px;
  background-size: cover;
}

/* Tablet styles */
@media screen and (max-width: 768px) {
  .hero_content {
    left: 10%;
  }
}

/* Laptop styles */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hero_content {
    left: 20%;
  }
}

/* Larger screens (you can adjust these breakpoints based on your design needs) */
@media screen and (min-width: 1025px) {
  .hero_content {
    left: 30%;
  }
}
